:root {
  --basic-color: rgb(51, 118, 170);
  --border-color: #bbb;
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab, serif";
}

.card {
  background-color: var(--basic-color);
  box-shadow: 1px 1px 20px 10px #bbb;
}

header {
  padding: 0.3rem;
  color: white;
}

header h1,
header h2 {
  text-align: center;
  padding: 0.5rem;
  margin: 0;
}

main {
  margin: 1rem 0.5rem;
  padding: 0 10px 5px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
}

main section {
  padding: 0;
  margin: 0;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: #eee;
}

main section p {
  padding: 0 1rem;
  margin: 0.8rem 0;
}
  
main section h3 {
  margin: 0;
  border-bottom: 1px solid #bbb;
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid var(--border-color);
  border-radius: 10px 10px 0 0;
  background-color: var(--basic-color);
  color: white;
}

footer {
  color: white;
  padding: 1rem;
}

footer p {
  padding: 0.5rem;
  margin: 0;
  text-align: center;
}

figure {
  padding: 0 1rem;
  margin: 1.5rem 0 1rem;
}

figure img {
  border: 1px solid var(--border-color);
  max-width: 100%;
}

