@media only screen and (min-width: 35rem) {
  figure img {
    margin: 0 auto;
    display: block;
    border-radius: 10px;
  }

  nav {
    padding: 0 1rem;
  }

  main section {
    margin-bottom: 0;
  }

  main {
    margin: 1rem 0.5rem;
    padding: 0 10px 5px;
    display: grid;
    align-items: stretch;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "title title"
      "hero hero"
      "news news"
      "spot1 spot2"
      "join join"
      "event weather";
  }

  main h1 {
    grid-area: title;
  }

  #hero-overlay {
    position: absolute;
    top: 45%;
    left: 40%;
    width: 50%;
  }

  .main-hero {
    grid-area: hero;
  }

  .main-news-release {
    grid-area: news;
  }
  .main-spotlight1 {
    grid-area: spot1;
  }
  .main-spotlight2 {
    grid-area: spot2;
  }
  .main-join {
    grid-area: join;
  }
  .main-event {
    grid-area: event;
  }
  .main-weather {
    grid-area: weather;
  }

  .main-demographics {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }

  .main-join-form {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }

  .main-discover-images {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }

  .main-directory {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }

  .main-contact-form {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }

  .main-contact-info {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
  }

  .norm:hover {
    box-shadow: 0 0 50px #333;
  }

  footer {
    display: grid;
    grid-template-columns: 100px 1fr 250px;
    align-items: center;
    grid-template-areas: "logo address email" "logo address map" "info info info" ". . links";
    padding: 1rem 1rem 5rem 0;
  }

  .footer-figure {
    grid-area: logo;
    margin: 0.1rem;
  }

  .footer-address {
    grid-area: address;
    text-align: left;
  }

  .footer-email {
    grid-area: email;
    text-align: right;
  }

  .footer-map {
    grid-area: map;
    text-align: right;
  }

  .footer-info {
    grid-area: info;
    margin-top: 1rem;
  }

  .footer-openweather {
    grid-area: links;
    text-align: right;
  }

  .main-join {
    display: block;
  }

  .benefits {
    display: inline;
    color: #999;
  }

  .list section p {
    display: block; /* smaller viewports only */
  }

  .main-contact-info h3 {
    margin-left: 2rem;
    padding-right: 0.5rem;
  }
  
  .main-contact-info p {
    padding-right: 0.5rem;
    margin: 0.5rem 2rem;
  }
}
