:root {
  --basic-color: rgb(51, 118, 170);
  --border-color: #bbb;
  --primary-color: #ed7b7b;
  --secondary-color: #2B4162;
  --accent1-color: #feb95f;
  --accent2-color: #91979e;
  
  --heading-font: 'Roboto Slab', serif;
  --paragraph-font: "Roboto", sans-serif;
}

/* https://coolors.co/ed7b7b-91979e-2b4162-feb95f */

body {
  margin: 0 auto;
  /* font-family: "Roboto", sans-serif; */
  font-family: var(--paragraph-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

.card {
  background-color: var(--basic-color);
  box-shadow: 1px 1px 20px 10px #bbb;
}

header {
  padding: 1rem;
  color: white;
}

header h1,
header h2 {
  text-align: center;
  padding: 0.5rem;
  margin: 0;
}

main {
  margin: 1rem 0.5rem;
  padding: 0 10px 5px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
}

main section {
  padding: 0;
  margin: 0;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: #eee;
}

main section p {
  padding: 0 1rem;
  margin: 0.8rem 0;
}
  
main section h3 {
  margin: 0;
  border-bottom: 1px solid #bbb;
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid var(--border-color);
  border-radius: 10px 10px 0 0;
  background-color: var(--basic-color);
  color: white;
}

footer {
  color: white;
  padding: 1rem;
}

footer p {
  padding: 0.5rem;
  margin: 0;
  text-align: center;
}

figure {
  padding: 0 1rem;
  margin: 1.5rem 0 1rem;
}

figure img {
  border: 1px solid var(--border-color);
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

/*----------- NAVIGATION --------------*/
nav {
  background-color: #666;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  color: #eee;
  padding: .5rem 0;
  text-decoration: none;
  font-size: .9rem;
  text-align: center;
}

nav ul li a:hover {
  background-color: #aaa;
  color: #333;
}
nav ul li.active a {
  background-color: rgb(51, 118, 170);
  color: #fff;
}


.colors {
  width: 100%;
  min-width: 350px;
  margin: auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}

